{% extends 'base.html' %}


{% block 'content' %}

{% if my_answer %}
    <div class="alert alert-{{ color }} alert-dismissible fade show" role="alert">
        {{ my_answer }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
    {% endif %}

<div class="container m-5 text-center">
    
    <h1>Substract</h1>
    <h1><img src="static/images/{{ num_1 }}.png"> - <img src="static/images/{{ num_2 }}.png"></h1>
    <h1 class="text-warning bold">{{ my_answer }}</h1>
    
    

    <form action="{% url 'subtract' %}" method="POST">
        {% csrf_token %}
        <div class="form-group my-4">
            <input type="text" class="form-control" placeholder="Type Your Answer Here" name="answer">
            <input type="hidden" class="form-control" name="old_num_1" value="{{ num_1 }}">
            <input type="hidden" class="form-control" name="old_num_2" value="{{ num_2 }}">
        </div>
                
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    
</div>


{% endblock %}